//COLORS
    //Brand
$black-01: var(--black-01);
$white:var(--white);
$white-f6:var(--white-f6);
$gray: var(--gray);
$blue: var(--blue);
$pink: var(--pink);
$purple:var(--purple);

//FONTS
$m-plus: var(--m-plus);
$tenor:var(--tenor);


//FONT WEIGHT //
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

//MEDIA QUERYES BOOTSTRAP//
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 375px;
$xxsm: 320px;